body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  filter: blur(90px) saturate(150%);
}
